In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/stocks.csv')

In [4]:
df = df[['Name', 'Close']]

In [7]:
df.head(5)

   Name      Close
0  CSCO  23.940001
1  CSCO  24.690001
2  CSCO  24.580000
3  CSCO  24.420000
4  CSCO  24.530001