In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/stocks.csv')

In [4]:
df = df[['Name', 'Close']]

In [7]:
df.head(5)

   Name      Close
0  CSCO  23.940001
1  CSCO  24.690001
2  CSCO  24.580000
3  CSCO  24.420000
4  CSCO  24.530001

In [1]:
import numpy as np

In [2]:
a = np.array([4, 2])

In [4]:
np.argsort(a)

array([1, 0])

In [1]:
a = -5

In [2]:
-a

5

In [26]:
import numpy as np
actions = np.array([3, 1, 2, -3, -6, -2])

In [27]:
sorted_indices = np.argsort(actions)

In [34]:
sell_idx = sorted_indices[ : np.where(actions < 0)[0].size]
buy_idx = sorted_indices[::-1][ : np.where(actions > 0)[0].size]

In [35]:
np.where(actions > 0)[0].size

3

In [33]:
buy_idx

array([0, 2, 1])