In [22]:
%reload_ext autoreload
%autoreload 2
import numpy as np
import os
import pandas as pd
import sys
path_to_package = '/'.join(os.getcwd().split('/')[:-1])
sys.path.append(path_to_package)

In [28]:
a = np.load('../saved_outputs/2021.07.23.22.47.36/logs/test_portfolio_content_history.npy')
b = np.load('../saved_outputs/2021.07.26.21.49.56/logs/test_portfolio_content_history.npy')

In [29]:
data = pd.read_csv('../data/close.csv', index_col=0)
time_horizon = data.shape[0]
data = data[3*time_horizon//4:]
days = data.index

In [30]:
with open('../portfolios_and_tickers/tickers_S&P500_subset.txt', 'r') as f:
    lines = f.readlines()
    tickers_a = []
    for l in lines:
	    tickers_a.append(l.replace("\n", ""))
     
with open('../portfolios_and_tickers/tickers_S&P500_dummy.txt', 'r') as f:
    lines = f.readlines()
    tickers_b = []
    for l in lines:
	    tickers_b.append(l.replace("\n", ""))

In [35]:
df_a = pd.DataFrame(data=a[-1], columns=tickers_a, index=days)
df_b = pd.DataFrame(data=b[-1], columns=tickers_b)

In [36]:
df_a

,MMM,AXP,BA,BAC,C,CAT,CVX,DIS,GE,GM,...,JPM,KO,MCD,MRK,PFE,PG,T,VZ,WMT,XOM
2019-07-03,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2019-07-05,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2019-07-08,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2019-07-09,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2019-07-10,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2020-12-24,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2020-12-28,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2020-12-29,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2
2020-12-30,0,97,0,0,0,0,0,0,107,0,...,94,0,0,0,103,81,0,0,81,2

In [37]:
df_b

     MMM  AXP  BA  BAC  C
0      0  891   0    0  0
1      0  891   0    0  0
2      0  891   0    0  0
3      0  891   0    0  0
4      0  891   0    0  0
..   ...  ...  ..  ... ..
354    0  891   0    0  0
355    0  891   0    0  0
356    0  891   0    0  0
357    0  891   0    0  0
358    0  891   0    0  0

[359 rows x 5 columns]